<div class="col-md-12 container-fluid">
  <div class="row text-center">
    <%= image_tag('logo.png') %>
  </div>
  <div class="row text-center">
    <h2>Example:</h2>
    <h2>/api/v1/eins/123456789</h2>
  </div>
  <div class="row text-center" id="results">

  </div>
  <div class="row text-center">
    <% @eins.each do |ein| %>
        <%= link_to "#{ein}", "/api/v1/eins/#{ein}" %><br>
    <% end %>
  </div>
  <div class="row text-center">
    Made by Grant Nelson, Laila Wahedi, and Yusuf Ameri
  </div>

</div>
